body{
    font-family:sans-serif;
    margin: 0;
}
/***** HEADER *****/
#logo {
    display: inline;
    position: relative;
    left: 170px;
}

.breadCrumb {
    position:absolute;
    top:   10px;
    right: 100px;
}

a.breadCrumb:hover {
    text-decoration: underline;
}

/***** TOP CONTENT *****/
#firstTextBlock {
    position:relative;
    bottom: 70px;
}
 #vacations {
    margin: 0.3em 0 0.3em 0;
    padding: 0;
 }
/***** FORM *****/
#vacations h4 {
    margin: 0;
    padding-top:0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
}

#vacationContainer {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

#vacationForm {
    padding-bottom: 0em;
    position: relative;
    bottom: 30px;
}

#vacationForm ol {
    padding: 0;
}

#vacationForm li {
    margin: 0.3em 0 0.3em 0;
}

/*    Placeholder color*/
#vacationForm input::-webkit-input-placeholder{
    color:#E800B2;
    margin-bottom: 0em;
    margin-top:0em;
}

#vacationForm input,select {
    color:#E800B2;
    font-size: 0.8em;
}


#vacationForm input[type="text"] {
    color: #000000;
    background-color: #ffffff;
    font-size: 0.6em;
    padding: 5px 70px 5px 5px;
}

#vacationForm .dropDown {
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
}

#vacationForm .calendar {
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    background: url(img/calendar.png) no-repeat right;
}

#vacationForm .half-select {
    width: 100px;
    padding: 0.2em;
    background-color: #ffffff;
}

#vacationForm .full-select {
    width: 205px;
    padding: 0.2em;
    background-color: #ffffff;
}

#listButtons {
    position:relative;
    bottom: 90px;
    left:15px
}

.listButtons ol {
    text-align: center;
    margin-right:0px;
    padding: 0;
    
}

.listButtons li {
    padding: 0.4em 1em 0.4em 1em;
    text-align: left;
    margin-bottom: 2px;
    font-size: 0.95em;
}

.form {
    padding: 0.4em 1em 2em 0em;
}

#btnVacations {
    background-color: #570027;
    color:#ffffff;
}

div li {
    list-style-type:none;
}

fieldset {
    border: 0;
}
/***** SUBHEAD AREA *****/
#subheadArea {
    margin: 0 100px 0 100px;
    text-align: center;
}
#subheadArea>div{
    display: inline-block;
    width: 20%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 2em;

}

#subheadArea>div>img {
    margin :2px;
}

#subheadArea>div>p {
    font-size: 0.6em;
    margin: 0px
}

#subheadArea>div>h6 {
    margin: 0px 5px 2px 0px;
    text-align: left;
}

#subheadArea>div>a {
    font-size: 0.6em;
}

#subheadArea h3:first-child {
    position:relative;
    right:290px;
    margin: 10px 0 10px 0;
    color: #656565;
}

/***** FOOTER *****/

footer {
    background-image: url('img/footer.png');
    background-repeat: repeat-x;
}

footer div:first-child {
    
    padding: 0.5em 0 1em 10em;
    margin-left: auto;
    margin-right:auto;
}

footer>div>div {
    display:inline-block;
    text-align: left;
    vertical-align: top;
}

footer>div>p:first-child{
    
    padding: 0 0 0 5em;
    color:#FF47FB;
    font-size: 0.6em;
}

footer>div>div>a {
    color:white;
    text-decoration: none;
    font-size: 0.60em;
    display: block;
    
    padding: 0 5em 0.5em 5em;
}


/***** SPECIFIC *****/

#headerBreak{
    background-color:#3D002E;
    height: 20px;
}

#topContainer{
    background-image: url("img/bus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 0 auto;
    
}

/***** GENERIC *****/

div.trans-purple {
    background: rgba(54,0,37,0.5);
    color: #ffffff;
    padding: 1em;
}

div.trans-black {
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 1em;
}

.baseText {
    font-size: 1em;
}

.textXs {
    font-size: 0.60em;
}

.textS {
    font-size: 0.80em;
}

.textL {
    font-size: 1.05em;
}

.textXL {
    font-size: 1.5em;
}

.inline {
    display:inline;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.center {
    position:relative;
    left: 25%;
}

.darkLink {
    color:#3D002E;
    font-size: 0.75em;
    text-decoration: none;
}

.lightLink {
    color:#DE7DBD;
    font-size: 0.75em;
}


.purpleText {
    color: #E800B2;
    background-color: #ffffff;
}

.no-underline {
    text-decoration: none;
}