body{
    font-family:"Times New Roman", sans-serif;
    margin: 0;
}
/***** HEADER *****/
#logo {
    display: inline;
    position: relative;
    left: 170px;
}

.breadCrumb {
    position:absolute;
    top:   10px;
    right: 100px;
}

a.breadCrumb:hover {
    text-decoration: underline;
}

/***** TOP CONTENT *****/
#firstTextBlock {
    position:relative;
    bottom: 70px;
}
 #vacations {
    margin: 0.3em 0 0.3em 0;
    padding: 0;
 }
/***** FORM *****/
#vacations h4 {
    margin: 0;
    padding-top:0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
}

#vacationContainer {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

#vacationForm {
    padding-bottom: 0em;
    position: relative;
    bottom: 30px;
}

#vacationForm ol {
    padding: 0;
}

#vacationForm li {
    margin: 0.3em 0 0.3em 0;
}

/*    Placeholder color*/
#vacationForm input::-webkit-input-placeholder,input,select{
    color:#E800B2;
    margin-bottom: 0em;
    margin-top:0em;
}


#vacationForm input[type="text"] {
    color: #000000;
    background-color: #ffffff;
    font-size: 0.6em;
    padding: 5px 70px 5px 5px;
}

#vacationForm .dropDown {
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
}

#vacationForm .calendar {
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    background: url(img/calendar.png) no-repeat right;
}

#vacationForm .half-select {
    width: 100px;
    padding: 0.2em;
    background-color: #ffffff;
}

#vacationForm .full-select {
    width: 205px;
    padding: 0.2em;
    background-color: #ffffff;
}

#listButtons {
    position:relative;
    bottom: 90px;
    left:15px
}

.listButtons ol {
    text-align: center;
    margin-right:0px;
    padding: 0;
    
}

.listButtons li {
    padding: 0.4em 1em 0.4em 1em;
    text-align: left;
    margin-bottom: 2px;
    font-size: 0.95em;
}

.form {
    padding: 0.4em 1em 2em 0em;
}

#btnVacations {
    background-color: #570027;
    color:#ffffff;
}

div li {
    list-style-type:none;
}

fieldset {
    border: 0;
}



/***** SPECIFIC *****/

#headerBreak{
    background-color:#3D002E;
    height: 20px;
}

#topContainer{
    background-image: url("img/bus.jpg");
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
}

/***** GENERIC *****/

div.trans-purple {
    background: rgba(54,0,37,0.5);
    color: #ffffff;
    padding: 1em;
}

div.trans-black {
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 1em;
}

.baseText {
    font-size: 1em;
}

.textS {
    font-size: 0.80em;
}

.textL {
    font-size: 1.05em;
}

.textXL {
    font-size: 1.5em;
}

.inline {
    display:inline;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.center {
    position:relative;
    left: 25%;
}

.darkLink {
    color:#3D002E;
    font-size: 0.75em;
    text-decoration: none;
}

.lightLink {
    color:#DE7DBD;
    font-size: 0.75em;
}

.purpleText {
    color: #E800B2;
    background-color: #ffffff;
}